@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}

html, body {
  min-height: 100%;
  overflow-x: hidden;
}

html {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Kurale', serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  color: #fff;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  height: 4px;
  background-color: $darker;
}

.navbar-toggler__border__color {
  border-color: $darker !important;
}

#btn-go__to__top {
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 99;
  cursor: pointer;
  border: none;
  background-color: $bluer;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: $lighter;
  font-size: 22px;
  opacity: .8;
  outline: 0;
  &:hover {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0 0 0 0.2rem rgba(51, 153, 153, 0.35);
    transition: all .7s;
  }
}