#content-home {
  box-shadow: 0 0.125rem 0.25rem rgba(52, 58, 64, 0.45);
  border-radius: .4rem;

  .content-home__column__menu {
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    background: $dark;

    .content-home__column__menu__img {
      border-radius: .25rem;
      height: 169px;
      box-shadow: 0 0.125rem 0.25rem rgba(38, 144, 224, 0.44);
      margin: 10px 0;
    }

    .content-home__column__menu__link {
      color: #61dafb;
      font-size: calcFluidFontSize(16, 18, 480, 1280);

      &.active {
        color: $light !important;
        background: #ffffff45;
      }
    }
  }
}

#content-home-user-pagination{
  .pagination{
    .page-item {
      padding: 0 5px;
    }

    .page-item.active {
      .page-link {
        color: $light !important;
        background: #25ba84 !important;
        border-color: #25ba84;
        box-shadow: 0 10px 20px rgba(41, 85, 200, 0.19), 0 6px 6px rgba(41, 85, 200, 0.23);
      }
    }

    .page-link {
      border-radius: .25rem !important;
      min-width: 31px !important;
      border: 0;
      color: #25ba84;

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(51, 153, 153, 0.35);
      }
    }
  }
}

#content-home-user {
  .content-home-user__alert__success{
    font-size: calcFluidFontSize(14, 16, 480, 1280);
    color: #67C23A;
    background: #f9f5f5;
    top: 1%;
    z-index: 999;
    box-shadow: 0 1px 3px rgba(41, 85, 200, 0.12), 0 1px 2px rgba(41, 85, 200, 0.24);
    border-radius: 0.3rem;

    .content-home-user__alert__success__p{
      margin: 10px 5px;

      .content-home-user__alert__success__i{

      }
    }
  }
  .content-home-user__h2 {
    font-size: calcFluidFontSize(20, 26, 480, 1280);
    color: $darker;
  }

  .form-home__user__style__hr {
    background: #61dafb;
  }

  .form-home__user__style__label {
    font-size: calcFluidFontSize(14, 16, 480, 1280);
    color: $darker;
  }

  .form-home__user__style__input {
    border: 0;
    box-shadow: 0 3px 6px rgba(41,85,200,0.12), 0 1px 2px rgba(41,85,200,0.24);
    font-size: calcFluidFontSize(14, 15, 480, 1280);
    border-radius: 0.3rem;
    padding: 20px;
    transition: .5s;
    &:focus {
      box-shadow: 0 10px 20px rgba(41,85,200,0.19), 0 6px 6px rgba(41,85,200,0.23);
    }
  }
  .form-home__user__style__span__email{
    color: $darker;
    font-size: calcFluidFontSize(14, 15, 480, 1280);
    padding: 10px;
    border-radius: 0.3rem;
    transition: .3s;
    box-shadow: 0 3px 6px rgba(0,131,148,0.12), 0 1px 2px rgba(0,131,148,0.24)
  }
  .form-home__user__style__span{
    color: $darker;
    font-size: calcFluidFontSize(14, 15, 480, 1280);
    padding: 10px;
    border-radius: 0.3rem;
    transition: .3s;
    box-shadow: 0 3px 6px rgba(0,131,148,0.12), 0 1px 2px rgba(0,131,148,0.24);
  }
  .form-home__user__btn__edit{
    background: #008394;
    border: 1px solid #008394;
    font-size: calcFluidFontSize(14, 15, 480, 1280);
    color: $light;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    transition: .5s;
    border-radius: .3rem;
    box-shadow: 0 1px 3px rgba(41,85,200,0.12), 0 1px 2px rgba(41,85,200,0.24);
    &:hover{
      box-shadow: 0 10px 20px rgba(41,85,200,0.19), 0 6px 6px rgba(41,85,200,0.23);
    }
  }

  .form-home__user__btn__cancel{
    background: #e53935;
    border: 1px solid #e53935;
    color: $light;
    padding: 5px;
    font-size: calcFluidFontSize(14, 15, 480, 1280);
    display: inline-block;
    cursor: pointer;
    transition: .5s;
    border-radius: .3rem;
    box-shadow: 0 1px 3px rgba(213,0,0,0.12), 0 1px 2px rgba(213,0,0,0.24);
    &:hover{
      box-shadow: 0 10px 20px rgba(213,0,0,0.19), 0 6px 6px rgba(213,0,0,0.23);
    }
  }

  .form-home__user__btn__submit{
    background: #039be5;
    border: 1px solid #039be5;
    border-radius: 0.3rem;
    padding: 5px;
    width: calc(100% - 125px);
    font-size: calcFluidFontSize(14, 15, 480, 1280);
    box-shadow: 0 7px 13px rgba(3, 155, 229,0.19), 0 6px 6px rgba(3, 155, 229,0.23);
    color: #f8f9fa;
    transition: .3s;
    .form-home__user__btn__submit__i{
      margin-right: 10px;
    }
    &:hover{
      box-shadow: 0 14px 28px rgba(3, 155, 229,0.25), 0 10px 10px rgba(3, 155, 229,0.22);
    }
  }
  .content-home-user__request__h2 {
    font-size: calcFluidFontSize(20, 26, 480, 1280);
    color: $darker;
  }
  .content-home-user__request__content{
    box-shadow: $shadow__bold__darker;
    border-radius: 1rem;
    .content-home-user__request__span{
      font-size: calcFluidFontSize(18, 23, 480, 1280);
      color: #20c997;
      padding: 10px 0;
    }
    .content-home-user__request__table__th,.content-home-user__request__table__td{
      font-size: calcFluidFontSize(14, 17, 480, 1280);
      color: $darker;
    }
  }
  .content-home-user__not__have__request{
    height: 300px;
    .content-home-user__not__have__request__a{
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: .8;
      width: 100%;
      height: 100%;
      border: 4px dashed #4f5a6e;
      color: #4f5a6e;
      font-size: calcFluidFontSize(20, 26, 480, 1280);
      transition: .5s;
      &:hover{
        text-decoration: none;
        opacity: 1;
      }
    }
  }

  .content-home-user__technical__task__h2{
    font-size: calcFluidFontSize(20, 26, 480, 1280);
    color: $darker;
    .content-home-user__technical__task{
      font-size: calcFluidFontSize(16, 20, 480, 1280);
    }
  }
  .content-home-user__report__h2{
    font-size: calcFluidFontSize(20, 26, 480, 1280);
    color: $darker;
  }
}

@media screen and (max-width: 1140px) {
  .content-home__column__menu__img {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .form-home__user__btn__submit, .form-home__user__btn__edit,
  .form-home__user__btn__cancel{
    width: 100% !important;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .content-home__column__menu {
    text-align: center;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: .4rem;
  }
}
