
#request-content {
  border: 1px solid #eaf0f6;

  .request-content-alert__success{
    color: #ffffff;
    background-color: #68c934;
    border-color: #68c934;
    border-radius: 0.3rem;
    box-shadow: 0 10px 20px rgba(104,201,52,0.19), 0 6px 6px rgba(104,201,52,0.23);
    font-size: calcFluidFontSize(13, 16, 480, 1280);
    .request-content-alert__success__p{
      margin-top: 1rem;
    }
  }
  .request-content-header-h1 {
    color: $darker;
    font-size: calcFluidFontSize(20, 28, 480, 1280);
    text-align: center;
  }

  .request-content__text {
    background: #dc354524;
    border: 1px solid var(--danger);
    font-size: calcFluidFontSize(13, 14, 480, 1280);
    padding-top: 10px;
    padding-bottom: 10px;

    .request-content__link__auth {
      font-size: calcFluidFontSize(14, 16, 480, 1280);
      background-color: #03A9F4;
      color: $lighter;
      padding: 5px 30px;
      border-radius: .3rem;
      opacity: 0.7;
      transition: 0.4s;
      &:hover{
        opacity: 1;
        box-shadow: $shadow__bold__darker;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  .request-content__h3{
    color: $darker;
    font-size: calcFluidFontSize(18, 24, 480, 1280);
  }
  .request-content__h3__request {
    color: $darker;
    font-size: calcFluidFontSize(20, 28, 480, 1280);
    &>i{
      color: #03A9F4;
      opacity: .7;
    }
  }
  .request-content__what__do__li, .request-content__what__do__p{
    color: $darker;
  }

  .request-content__what__do__li {
    font-size: calcFluidFontSize(13, 16, 480, 1280);
  }

  #request-content__form__request{
    .request-content__form {
      border: 1px solid #eaf0f6;
    }

    .request-content__form__request__label{
      color: $darker;
      font-size: calcFluidFontSize(14, 17 , 480, 1280);
    }

    .request-content__form__request__textarea{
      resize: none;
      height: 150px;
      font-size: calcFluidFontSize(14, 16 , 480, 1280);
      border: 0;
      box-shadow: 0 1px 3px rgba(149,117,205,0.12), 0 1px 2px rgba(149,117,205,0.24);
      transition: .4s;
      &:focus{
        box-shadow: 0 3px 6px rgba(149,117,205,0.16), 0 3px 6px rgba(149,117,205,0.23);
      }
    }

    .request-content-form-submit__btn{
      background: #7e57c2;
      color: $light;
      width: 100%;
      box-shadow: 0 1px 3px rgba(149,117,205,0.12), 0 1px 2px rgba(149,117,205,0.24);
      transition: .7s;
      &:hover {
        box-shadow: 0 3px 6px rgba(149,117,205,0.16), 0 3px 6px rgba(149,117,205,0.23);
      }
    }
    .request-content__form__request__select{
      border: 0;
      box-shadow: 0 1px 3px rgba(149,117,205,0.12), 0 1px 2px rgba(149,117,205,0.24);
      transition: .4s;
      .request-content__form__request__select__option{
        font-size: calcFluidFontSize(12, 14 , 480, 1280);
      }
      &:focus{
        box-shadow: 0 3px 6px rgba(149,117,205,0.16), 0 3px 6px rgba(149,117,205,0.23);
      }
    }
  }
}

.request-content__image__man__write__request {
  min-height: 200px;
  margin: 0 1.3rem 0;
  width: 100%;
  background:url('/images/request_content/request_man.svg') no-repeat;
}

@media only screen and (max-width: 992px){
  .request-content__image__man__write__request {
    display: none;
  }
}

@media only screen and (max-width: 576px){
  .request-content__image__man__write__request {
    display: flex;
    height: 75px;
  }
}
