
#request-content {
  border: 1px solid #eaf0f6;

  .request-content-header-h1 {
    color: $darker;
    font-size: calcFluidFontSize(17, 28, 480, 1280);
  }

  .request-content__text {
    background: #dc354524;
    border: 1px solid var(--danger);
    font-size: calcFluidFontSize(13, 14, 480, 1280);
    padding-top: 10px;
    padding-bottom: 10px;

    .request-content__link__auth {
      font-size: calcFluidFontSize(14, 16, 480, 1280);
      background-color: #03A9F4;
      color: $lighter;
      padding: 5px 30px;
      border-radius: .3rem;
      opacity: 0.7;
      transition: 0.4s;
      &:hover{
        opacity: 1;
        box-shadow: $shadow__bold__darker;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  .request-content__h3{
    color: $darker;
    font-size: calcFluidFontSize(18, 24, 480, 1280);
  }
  .request-content__h3__request {
    color: $darker;
    font-size: calcFluidFontSize(20, 28, 480, 1280);
    &>i{
      color: #03A9F4;
      opacity: .7;
    }
  }
  .request-content__what__do__li, .request-content__what__do__p{
    color: $darker;
  }

  .request-content__what__do__li {
    font-size: calcFluidFontSize(13, 16, 480, 1280);
  }

  #request-content__form__request{
    .request-content__form {
      border: 1px solid #eaf0f6;
    }

    .form-request__style__textarea{
      resize: none;
      height: 150px;
    }

    .form-request__style__input{
      border-color: $bluer;
      background: #00cade12;
    }
    .form-request__text__label__bluer{
      color: $darker;
    }
  }
}

.request-content__image__man__write__request {
  min-height: 200px;
  margin: 0 1.3rem 0;
  width: 100%;
  background:url('/images/request_content/request_man.svg') no-repeat;
}
