.content-admin__h2 {
  color: $darker;
  font-size: calcFluidFontSize(16, 26, 480, 1280);
  font-weight: 600;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #4f5a6e;
  color: $lighter;
  transition: all 0.3s;

  .sidebar-list__ul {
    .sidebar-list-ul__li {
      .sidebar-list-ul-li__a {
        text-align: left;
      }
    }
  }

  .sidebar-header {
    padding: 20px;
    background: #8690a2;
    box-shadow: $shadow__darker;

    .sidebar-header__strong {
      display: none;
      font-size: calcFluidFontSize(15, 20, 480, 1280);
    }
  }
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid $darker;
}



#sidebar {
  .sidebar-list__ul {
    .sidebar-list-ul__li {
      .sidebar-list-ul-li__a {
        padding: 10px;
        font-size: calcFluidFontSize(14, 18, 480, 1280);
        display: block;
        color: $light;
        &:hover {
          color: #61dafb;
          text-decoration: none;
        }
        .sidebar-admin__i{
          margin-right: 10px;
        }
      }
    }
  }
}

#sidebar .sidebar-list__ul .sidebar-list-ul__li.active > .sidebar-list-ul-li__a,
.sidebar-list-ul-li__a[aria-expanded="true"] {
  color: #61dafb;
}

.sidebar-list-ul-li__a[data-toggle="collapse"] {
  position: relative;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;

  .sidebar-header {
    .sidebar-header__h3, .CTAs {
      display: none;
    }

    .sidebar-header__strong{
      display: block;
    }
  }

  .sidebar-list__ul {
    .sidebar-list__submenu__ul {
      padding: 10px !important;
      .sidebar-list-ul-li__submenu__a{
        word-break: break-word;
        padding-left: 5px !important;
      }
    }

    .sidebar-list-ul__li {
      .sidebar-list-ul-li__a {
        padding: 20px 10px;
        text-align: center;
        font-size: calcFluidFontSize(12, 14, 480, 1280);
        word-break: break-word;

        .sidebar-admin__i {
          margin-right: 0;
          display: block;
          font-size: calcFluidFontSize(18, 24, 480, 1280);
          margin-bottom: 5px;
        }
      }
    }
  }

  .dropdown-toggle {
    &::after {
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
    }
  }
}

.dropdown-toggle {
  &::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

.sidebar-list__ul{
  .sidebar-list__submenu__ul{
    .sidebar-list-ul-li__submenu__a{
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: #4f5a6e;
      color: $light;
    }
  }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
 MEDIAQUERIES
 ----------------------------------------------------- */

@media only screen and (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
  .sidebar-list-ul-li-a__span{
    display: none !important;
  }
  .dropdown-toggle{
    &::after{
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
    }
  }
  #sidebar.active {
    margin-left: 0 !important;
  }
  #sidebar .sidebar-header .sidebar-header__h3,
  #sidebar .CTAs {
    display: none;
  }
  #sidebar .sidebar-header .sidebar-header__strong {
    display: block;
  }
  #sidebar {
    margin-left: 0;
    .sidebar-list__ul{
      .sidebar-list__submenu__ul{
        .sidebar-list-ul-li__submenu__a{
          padding-left: 10px !important;
          font-size: 0.75rem !important;
        }
      }
      .sidebar-list-ul__li{
        .sidebar-list-ul-li__a{
          padding: 20px 10px;
          .content-admin__span{
            font-size: 0.85em;
          }
          .sidebar-admin__i{
            margin-right: 0;
            display: block;
          }
        }
      }
    }
  }
  #sidebarCollapse
  {
    .content-admin__span{
      display: none;
    }
  }
}