.content-admin__h2 {
  color: $darker;
  font-size: calcFluidFontSize(16, 26, 480, 1280);
  font-weight: 600;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #4f5a6e;
  color: $lighter;
  transition: all 0.3s;

  ul {
    li {
      a {
        text-align: left;
      }
    }
  }

  .sidebar-header {
    padding: 20px;
    background: #8690a2;
    box-shadow: $shadow__darker;

    strong {
      display: none;
      font-size: calcFluidFontSize(15, 20, 480, 1280);
    }
  }
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid $darker;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: $light;
}

#sidebar ul li a:hover {
  color: #61dafb;
  text-decoration: none;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #61dafb;
}

a[data-toggle="collapse"] {
  position: relative;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;

  .sidebar-header {
    h3, .CTAs {
      display: none;
    }

    strong {
      display: block;
    }
  }

  ul {
    ul {
      padding: 10px !important;
    }

    li {
      a {
        padding: 20px 10px;
        text-align: center;
        font-size: 0.85em;

        i {
          margin-right: 0;
          display: block;
          font-size: 1.8em;
          margin-bottom: 5px;
        }
      }
    }
  }

  .dropdown-toggle {
    &::after {
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
    }
  }
}

.dropdown-toggle {
  &::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

ul{
  ul{
    a{
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: #4f5a6e;
      color: $light;
    }
  }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
 MEDIAQUERIES
 ----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
  .dropdown-toggle{
    &::after{
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
    }
  }
  #sidebar.active {
    margin-left: 0 !important;
  }
  #sidebar .sidebar-header h3,
  #sidebar .CTAs {
    display: none;
  }
  #sidebar .sidebar-header strong {
    display: block;
  }
  #sidebar ul li a {
    padding: 20px 10px;
  }
  #sidebar ul li a span {
    font-size: 0.85em;
  }
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
  #sidebar ul ul a {
    padding: 10px !important;
  }
  #sidebar ul li a i {
    font-size: 1.3em;
  }
  #sidebar {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}